@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url("../img/pOpacity.png");
  font-family: 'Josefin Sans', sans-serif;
  color: #121212;
}

body #navMeni {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}

body #navMeni #emptySpace {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100vh;
}

body #navMeni #navigacija {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 100vh;
  z-index: 9;
  background-color: white;
}

body #navMeni #navigacija #zatvaranje {
  position: absolute;
  top: 2px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
}

body #navMeni #navigacija .listaMeni {
  width: 20%;
}

body #navMeni #navigacija .listaMeni ul li {
  padding: 15px 0px;
}

body #navMeni #navigacija .listaMeni ul li a {
  font-size: 20px;
}

body #navMeni #navigacija .listaMeni ul li :hover {
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header {
  z-index: 8;
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  background-color: #121212;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header #logo {
  width: 5%;
  padding-top: 5px;
}

body header #logo a h1 {
  color: white;
}

body header .ikonice {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .ikonice #hamburger, body header .ikonice #cart {
  width: 48%;
  cursor: pointer;
}

body header .ikonice #hamburger {
  height: 0;
}

body header .ikonice #hamburger h2 {
  font-size: 30px;
}

body header .ikonice #cart {
  width: 10%;
  height: 10px;
  padding-top: 10px;
}

body header .ikonice #cart a {
  color: white;
  color: white;
  position: relative;
}

body header .ikonice #cart #numberSold {
  display: none;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: red;
  border-radius: 50%;
  padding-top: 3px;
}

body #filterShop {
  position: fixed;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

body #filterShop .filterFlexFullSpace {
  width: 25%;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body #filterShop .filterFlexFullSpace #zatvaranjeFilter {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

body #filterShop .filterFlexFullSpace .fliterFlex {
  width: 90%;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #121212;
  padding: 10px 0px;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter .priceRangeCount {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter .sectionNaslov {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter .sectionNaslov .textNaslov {
  width: 90%;
  text-transform: capitalize;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter .sectionNaslov .strelica {
  width: 10%;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter .checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter .checkboxes .checkboxPiece {
  width: 100%;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter .checkboxes .checkboxPiece input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin: 10px 0px;
  margin-left: 50px;
}

body #filterShop .filterFlexFullSpace .fliterFlex .sectionFilter .checkboxes .checkboxPiece label {
  font-size: 1.2em;
  margin-left: 10px;
  text-transform: capitalize;
}

body #filterShop #filterFlexEmptySpace {
  width: 75%;
  height: 100vh;
}

body main {
  margin: 0px auto;
}

body main #cover {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #cover #coverPicture {
  width: 100%;
}

body main #cover #coverPicture .imageModel {
  width: 100%;
  height: 100%;
}

body main #cover #coverPicture .imageModel img {
  width: 100%;
  height: 100vh;
}

body main #cover .bannerBlack {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #cover .bannerBlack .centerBlack {
  width: 30%;
  color: white;
  text-align: center;
}

body main #cover .bannerBlack .centerBlack h1 {
  padding-bottom: 50px;
}

body main #cover .bannerBlack .centerBlack a {
  color: white;
}

body main #cover .bannerBlack .centerBlack a .buttonShop {
  width: 30%;
  margin: 0px auto;
  background-color: #121212;
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

body main #cover .bannerBlack .centerBlack a :hover {
  background-color: #e97d17;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .blackCollection {
  padding-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .blackCollection .blackSlike, body main .blackCollection .blackTekst, body main .blackCollection .profileBlack {
  width: 30%;
}

body main .blackCollection .blackSlike {
  position: relative;
}

body main .blackCollection .blackSlike .imageBlack {
  width: 100%;
  position: absolute;
}

body main .blackCollection .blackSlike .imageBlack img {
  width: 50%;
  border: 1px solid #121212;
}

body main .blackCollection .blackSlike .prva {
  top: 0;
  left: 0;
}

body main .blackCollection .blackSlike .druga {
  top: 50%;
  left: 25%;
}

body main .blackCollection .blackTekst {
  padding: 100px 0px;
}

body main .blackCollection .blackTekst .headingNaslov {
  width: 100%;
}

body main .blackCollection .blackTekst .headingNaslov h2 {
  padding-bottom: 30px;
}

body main .blackCollection .blackTekst p {
  line-height: 2.2;
}

body main .blackCollection .profileBlack img {
  width: 100%;
}

body main #bannerShop {
  width: 100%;
  height: 50vh;
  background-image: url("../img/model1.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

body main #bannerShop .naslovShop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #bannerShop .naslovShop .textNaslov {
  width: 30%;
  text-align: center;
  color: white;
}

body main #bannerShop .naslovShop .textNaslov .shopNaslov {
  width: 100%;
  font-size: 1.5em;
  padding: 20px 0px;
}

body main .containerShop {
  width: 100%;
  padding: 50px 0px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .containerShop #contentShop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .containerShop #contentShop .sortShop {
  width: 90%;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
}

body main .containerShop #contentShop .sortShop .filterButtonDiv {
  width: 20%;
}

body main .containerShop #contentShop .sortShop .filterButtonDiv #buttonFilter {
  width: 50%;
  padding: 10px 20px;
  background-color: rbga(0, 0, 0, 0);
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

body main .containerShop #contentShop .sortShop .filterButtonDiv :hover {
  background-color: #121212;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .containerShop #contentShop .sortShop .sort {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .containerShop #contentShop .sortShop .sort select, body main .containerShop #contentShop .sortShop .sort input {
  width: 20%;
  margin: 0px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #121212;
  padding: 5px 10px;
  outline: none;
}

body main .containerShop #contentShop #articlesShop {
  width: 90%;
  padding: 20px 0px;
  margin: 20px auto;
  border-top: 3px solid #121212;
  border-bottom: 3px solid #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body main .containerShop #contentShop #articlesShop .article {
  width: 30%;
  padding: 5px 0px;
}

body main .containerShop #contentShop #articlesShop .article .slikaArticle {
  width: 60%;
  margin: 0px auto;
  position: relative;
}

body main .containerShop #contentShop #articlesShop .article .slikaArticle .collection {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #121212;
  color: white;
}

body main .containerShop #contentShop #articlesShop .article .slikaArticle .collection img {
  cursor: auto;
  width: 100%;
  border: 1px solid black;
}

body main .containerShop #contentShop #articlesShop .article .slikaArticle .collection img:hover {
  width: 100%;
  border: 1px solid black;
}

body main .containerShop #contentShop #articlesShop .article .slikaArticle img {
  width: 100%;
  cursor: pointer;
  border: 3px solid black;
}

body main .containerShop #contentShop #articlesShop .article .slikaArticle img:hover {
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .containerShop #contentShop #articlesShop .article .nameArticle {
  padding: 10px 0px;
}

body main .containerShop #contentShop #articlesShop .article .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

body main .containerShop #contentShop #articlesShop .article .price .newPrice .dinar, body main .containerShop #contentShop #articlesShop .article .price .oldPrice .dinar {
  font-size: 12px;
}

body main .containerShop #contentShop #articlesShop .article .price .newPrice {
  padding-right: 5px;
  text-align: right;
}

body main .containerShop #contentShop #articlesShop .article .sizes {
  width: 100%;
}

body main .containerShop #contentShop #articlesShop .article .sizes p {
  padding-bottom: 10px;
  font-size: 12px;
}

body .contactShop {
  width: 60%;
  margin: 0px auto;
  padding: 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .contactShop .form, body .contactShop .iframe {
  width: 48%;
}

body .contactShop .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contactShop .iframe iframe {
  width: 100%;
  height: 100%;
}

body .contactShop .autorSlika {
  width: 30%;
}

body .contactShop .autorText {
  width: 70%;
  padding: 50px;
  padding-top: 100px;
}

body .contactShop .autorText h2 {
  padding-bottom: 30px;
}

body .contactShop .autorText p {
  line-height: 1.7em;
}

body .cartShop {
  width: 90%;
  margin: 0px auto;
  padding: 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .cartShop #cartContent {
  width: 60%;
}

body .cartShop #cartContent .cartItem {
  width: 100%;
  border: 1px solid #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .cartShop #cartContent .cartItem .cartItemSlika {
  width: 40%;
}

body .cartShop #cartContent .cartItem .cartItemSlika img {
  width: 100%;
}

body .cartShop #cartContent .cartItem .cartItemInfo {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cartShop #cartContent .cartItem .cartItemInfo .cartItemNaslov, body .cartShop #cartContent .cartItem .cartItemInfo .totalForItem {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
}

body .cartShop #cartContent .cartItem .cartItemInfo .cartItemQty {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

body .cartShop #cartContent .cartItem .cartItemInfo .cartItemQty .qtyCheck {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .cartShop #cartContent .cartItem .cartItemInfo .cartItemQty .qtyCheck button {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 20px;
}

body .cartShop #cartContent .cartItem .cartItemInfo .cartItemQty .qtyCheck :hover {
  background-color: #121212;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .cartShop #cartContent .cartItem .cartItemInfo .cartItemQty .qtyCheck input[type=number] {
  padding: 10px 20px;
}

body .cartShop .formaCartBlock {
  width: 30%;
}

body .cartShop .formaCartBlock #totalPrice {
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #121212;
  color: white;
  text-align: center;
}

body footer nav, body footer .copyright {
  width: 100%;
}

body footer nav {
  padding-top: 20px;
}

body footer nav ul li {
  padding: 15px 0px;
}

body footer nav ul li a {
  color: white;
}

body footer .copyright {
  padding: 5px 0px;
}

body footer .copyright p a {
  color: #e97d17;
}

#miniModal {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9;
  width: 10%;
  text-align: center;
  padding: 10px 20px;
  background-color: white;
  display: none;
  border: 3px solid #121212;
}

.aPortfolio {
  color: #e97d17;
}

.p-20 {
  padding-top: 20px;
}

.p-50 {
  padding-top: 50px;
}

.centerFlex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whiteColor {
  color: white;
}

.prviNaslov ::after {
  content: "";
  display: block;
  margin: 5px 0px;
  width: 10%;
  height: 3px;
  background-color: #121212;
}

.drugiNaslov ::after {
  content: "";
  display: block;
  margin: 5px auto;
  width: 10%;
  height: 3px;
  background-color: #121212;
}

.treciNaslov ::after {
  content: "";
  display: block;
  margin: 5px auto;
  width: 7%;
  height: 3px;
  background-color: white;
}

.pt-50 {
  padding-top: 50px;
}

.mx-40 {
  margin: 0px 40px;
}

.text-center {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
  background: #121212;
}

.error, .errorContact {
  width: 100%;
  color: red;
  text-align: center;
}

#adressInput, #selectStore {
  display: none;
}

.border-none {
  border: none;
}

.orange {
  color: #e97d17;
}

form {
  border: 1px solid #121212;
  width: 100%;
}

form .formaPolje {
  width: 70%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .formaPolje input:hover, form .formaPolje input:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #121212;
  color: white;
}

form .formaPolje input, form .formaPolje select, form .formaPolje textarea {
  width: 100%;
  margin-bottom: 5px;
  padding: 7px 15px;
}

form .formaPolje label {
  width: 100%;
  padding: 10px 0px;
}

form .dugme button {
  width: 60%;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

form .dugme :hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #121212;
  color: white;
}

form .formaPoljeRadio {
  width: 70%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .formaPoljeRadio .radioDugme {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .formaPoljeRadio .radioDugme .labelaRadio {
  text-align: right;
  margin-right: 10px;
}

#modalItem {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modalItem .modalContent {
  width: 50%;
  background-color: white;
  position: relative;
}

#modalItem .modalContent #zatvaranjeModal {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

#modalItem .modalContent #ispisModal {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modalItem .modalContent #ispisModal .slikaModal {
  width: 40%;
}

#modalItem .modalContent #ispisModal .slikaModal img {
  width: 100%;
}

#modalItem .modalContent #ispisModal .modalText {
  width: 50%;
  margin-left: 20px;
}

#modalItem .modalContent #ispisModal .modalText h2, #modalItem .modalContent #ispisModal .modalText p {
  padding-top: 30px;
}

#modalItem .modalContent #ispisModal .modalText .addToCartModal {
  margin: 40px 0px;
}

#modalItem .modalContent #ispisModal .modalText .addToCartModal button, #modalItem .modalContent #ispisModal .modalText .addToCartModal input {
  background-color: rgba(0, 0, 0, 0);
  padding: 7px 15px;
}

#modalItem .modalContent #ispisModal .modalText .addToCartModal input[type=number] {
  width: 20%;
}

#modalItem .modalContent #ispisModal .modalText .cene {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#modalItem .modalContent #ispisModal .modalText .cene .cena {
  width: 48%;
  font-size: 20px;
}

.successModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.successModal .messageBox {
  position: relative;
  width: 30%;
  background-color: white;
}

.successModal .messageBox #zatvaranjeSuccess {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 10px;
}

.successModal .messageBox .messageContent {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.successModal .messageBox .messageContent h3 {
  padding: 20px 0px;
}

.successModal .messageBox .messageContent a button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  padding: 5px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.successModal .messageBox .messageContent a button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #121212;
  color: white;
}

@media screen and (max-width: 1450px) {
  #miniModal {
    width: 20%;
  }
  body main .blackCollection .blackTekst {
    padding: 0px;
  }
  #modalItem .modalContent {
    width: 70%;
  }
  body .contactShop .autorText, body .contactShop .autorSlika {
    width: 100%;
  }
  body .contactShop .autorText h2 {
    text-align: center;
  }
  body .contactShop {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  body .contactShop .autorSlika {
    text-align: center;
  }
  body .contactShop {
    width: 80%;
  }
  body .contactShop .autorText {
    padding: 50px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 1030px) {
  body .cartShop #cartContent {
    width: 100%;
  }
  body main #cover .bannerBlack .centerBlack {
    width: 50%;
  }
  body main #cover .bannerBlack .centerBlack a .buttonShop {
    width: 40%;
  }
  body main .blackCollection .blackTekst p {
    line-height: 1.3;
  }
  body #filterShop .filterFlexFullSpace {
    width: 35%;
  }
  body #filterShop #filterFlexEmptySpace {
    width: 65%;
    height: 100vh;
  }
  body main .containerShop #contentShop #articlesShop .article .nameArticle h3 {
    font-size: 18px;
  }
  #modalItem .modalContent #ispisModal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #modalItem .modalContent #ispisModal .slikaModal, #modalItem .modalContent #ispisModal .modalText {
    width: 100%;
    text-align: center;
  }
  #modalItem .modalContent #ispisModal .slikaModal img {
    width: 40%;
  }
  #modalItem .modalContent #ispisModal .modalText {
    margin-left: 0px;
  }
  #modalItem .modalContent #ispisModal .modalText .cene, #modalItem .modalContent #ispisModal .modalText .cene .cena {
    width: 100%;
  }
  body main .containerShop #contentShop .sortShop .sort select, body main .containerShop #contentShop .sortShop .sort input {
    width: 30%;
  }
  body main .containerShop #contentShop .sortShop .filterButtonDiv #buttonFilter {
    width: 100%;
  }
  body #navMeni #navigacija {
    width: 35%;
  }
  body main .containerShop #contentShop #articlesShop {
    width: 100%;
  }
  body .contactShop {
    width: 100%;
  }
  body .cartShop .formaCartBlock {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  body .cartShop #cartContent .cartItem .cartItemInfo .cartItemQty .qtyCheck button {
    padding: 5px 10px;
  }
  #miniModal {
    width: 30%;
  }
  body header #logo h1 {
    font-size: 20px;
  }
  body header .ikonice #hamburger h2 {
    font-size: 25px;
  }
  body header .ikonice #cart {
    padding-top: 7px;
  }
  body header .ikonice #cart a i {
    font-size: 15px;
  }
  body main #cover .bannerBlack .centerBlack {
    width: 70%;
  }
  body .contactShop .autorSlika img {
    width: 100%;
  }
  body header .ikonice {
    width: 10%;
  }
  body main .blackCollection .blackSlike {
    display: none;
  }
  body main .blackCollection .blackTekst {
    width: 80%;
  }
  .prviNaslov::after {
    height: 0px;
  }
  body main .blackCollection .profileBlack, body main .blackCollection .blackTekst {
    width: 50%;
  }
  body main .blackCollection .blackTekst {
    padding: 20px 0px;
  }
  body main #bannerShop .naslovShop .textNaslov {
    width: 50%;
  }
  body main .containerShop #contentShop #articlesShop .article {
    width: 48%;
  }
  body main .containerShop #contentShop #articlesShop {
    border-bottom: none;
  }
  body main .containerShop {
    padding-bottom: 0px;
  }
  body #filterShop .filterFlexFullSpace, body #filterShop #filterFlexEmptySpace, body #navMeni #emptySpace, body #navMeni #navigacija {
    width: 50%;
  }
  body .contactShop .form, body .contactShop .iframe {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .successModal .messageBox {
    width: 80%;
  }
  body main .containerShop #contentShop .sortShop .sort select, body main .containerShop #contentShop .sortShop .sort input {
    width: 33%;
  }
  body .cartShop #cartContent h3 {
    font-size: 16px;
  }
  body .cartShop #cartContent .cartItem .cartItemSlika, body .cartShop #cartContent .cartItem .cartItemInfo {
    width: 100%;
  }
  body .cartShop #cartContent .cartItem .cartItemInfo .cartItemQty .qtyCheck {
    width: 100%;
    padding-bottom: 10px;
  }
  #miniModal {
    width: 50%;
  }
  body main #cover, body main #cover .bannerBlack, body main #cover #coverPicture .imageModel img {
    height: 60vh;
  }
  body main #cover .bannerBlack .centerBlack {
    width: 100%;
  }
  body main .blackCollection .profileBlack, body main .blackCollection .blackTekst {
    width: 90%;
  }
  body main .containerShop #contentShop #articlesShop .article {
    width: 100%;
  }
  #modalItem .modalContent #ispisModal .slikaModal img {
    width: 100%;
  }
  body #filterShop, body #navMeni #navigacija .filterFlexFullSpace {
    width: 100%;
  }
  body #filterShop #filterFlexEmptySpace, body #navMeni #emptySpace {
    display: none;
  }
  body header .ikonice {
    width: 15%;
  }
  body #navMeni #navigacija, body #filterShop .filterFlexFullSpace {
    width: 75%;
  }
  body #navMeni #emptySpace, body #filterShop #filterFlexEmptySpace {
    width: 25%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=style.css.map */